<mat-card class="d-flex ngx-basic-audio-player">
    <audio #audioPlayer>
        <source [src]="audioUrl" type="audio/mp3">
    </audio>
    <button mat-button (click)='playBtnHandler();' class="ngx-basic-audio-player-button-handler"
        style="font-size: 14px!important;" [disabled]="loaderDisplay">
        <mat-spinner class="small-spinner" color="#fff" [diameter]="20" *ngIf="loaderDisplay"></mat-spinner>
        <mat-icon *ngIf="!loaderDisplay && !isPlaying">play_arrow</mat-icon>
        <mat-icon *ngIf="!loaderDisplay && isPlaying">pause</mat-icon>
    </button>
    <div class="flex-fill pl-1 ngx-basic-audio-player-slider">
        <mat-slider style="width: 100%" min="0" max="{{duration}}" value="{{currentTime}}"
            (change)="currTimePosChanged($event)"></mat-slider>
    </div>
    <div class="d-flex ngx-basic-audio-player-duration">
        <span *ngIf="duration !== 0.01" class="pl-2 pr-3 my-auto" style="font-size: 14px!important;">
            -{{duration-currentTime |
            secondsToMinutes }}
        </span>
    </div>
    <button *ngIf="displayVolumeControls" mat-button (click)='toggleVolume();'
        style="padding: 0px!important; min-width:48px!important;">
      <mat-icon *ngIf="volume === 0">volume_off</mat-icon>
      <mat-icon *ngIf="volume > 0">volume_up</mat-icon>
    </button>
</mat-card>

<mat-card *ngIf="displayTitle && title !== ''" style="border-top: 1px solid #ddd;">
    <div style="text-align: center;">
        <div style="padding:1px 3px;">
            {{ title }}
        </div>
    </div>
</mat-card>
